[Unit]
Description=Minecraft Server
After=network.target

[Install]
WantedBy=multi-user.target

[Service]
WorkingDirectory=/opt/minecraft
EnvironmentFile=/etc/environment

Restart=always


ExecStart=/usr/bin/screen -DmS mc_server ./start_service.sh

ExecStop=/opt/minecraft/send_discord_message_to_webhook.sh "Stopping system service..."
ExecStop=/opt/minecraft/server/stop_server.sh