[Unit]
Description=Minecloud Server
After=network.target

[Install]
WantedBy=multi-user.target

[Service]
WorkingDirectory=/opt/minecloud
EnvironmentFile=/etc/environment

Restart=always


ExecStart=/usr/bin/screen -DmS mc_server ./start_service.sh

ExecStop=/opt/minecloud/send_discord_message_to_webhook.sh "Stopping system service..."
ExecStop=/opt/minecloud/server/stop_server.sh